.lead__title {
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #FFF;
}

@media screen and (min-width: 320px) {
  .lead__title {
    margin: 0 auto;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    margin: 0 auto;
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    margin: 0 auto;
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 0 auto;
    font-size: 96px;
    line-height: 100px;
  }
}